<?xml version='1.0' encoding='utf-8'?>
<manifest package="capacitor.android.plugins"
xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:amazon="http://schemas.amazon.com/apk/res/android">
<application  >
<provider android:name="de.appplant.cordova.plugin.notification.util.AssetProvider" android:authorities="${applicationId}.localnotifications.provider" android:exported="false" android:grantUriPermissions="true">
  <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/localnotification_provider_paths"/>
</provider>
<receiver android:name="de.appplant.cordova.plugin.localnotification.TriggerReceiver" android:exported="false"/>
<receiver android:name="de.appplant.cordova.plugin.localnotification.ClearReceiver" android:exported="false"/>
<receiver android:name="de.appplant.cordova.plugin.localnotification.RestoreReceiver" android:directBootAware="true" android:exported="false">
  <intent-filter>
    <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
    <action android:name="android.intent.action.BOOT_COMPLETED"/>
  </intent-filter>
</receiver>
<service android:name="de.appplant.cordova.plugin.localnotification.ClickReceiver" android:exported="false"/>
<activity android:name="com.adobe.phonegap.push.PushHandlerActivity" android:exported="true" android:permission="${applicationId}.permission.PushHandlerActivity"/>
<activity android:name="com.adobe.phonegap.push.BackgroundHandlerActivity" android:exported="true" android:permission="${applicationId}.permission.BackgroundHandlerActivity">
  <intent-filter>
    <action android:name="com.adobe.phonegap.push.background.MESSAGING_EVENT"/>
    <category android:name="android.intent.category.DEFAULT"/>
  </intent-filter>
</activity>
<receiver android:name="com.adobe.phonegap.push.BackgroundActionButtonHandler"/>
<receiver android:name="com.adobe.phonegap.push.PushDismissedHandler"/>
<service android:name="com.adobe.phonegap.push.FCMService">
  <intent-filter>
    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
  </intent-filter>
</service>
<service android:name="com.adobe.phonegap.push.PushInstanceIDListenerService">
  <intent-filter>
    <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
  </intent-filter>
</service>
<provider android:name="com.darryncampbell.cordova.plugin.intent.CordovaPluginIntentFileProvider" android:authorities="${applicationId}.darryncampbell.cordova.plugin.intent.fileprovider" android:exported="false" android:grantUriPermissions="true">
  <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
</provider>
<provider android:name="org.apache.cordova.camera.FileProvider" android:authorities="${applicationId}.cordova.plugin.camera.provider" android:exported="false" android:grantUriPermissions="true">
  <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/camera_provider_paths"/>
</provider>
<provider android:name="io.github.pwlin.cordova.plugins.fileopener2.FileProvider" android:authorities="${applicationId}.fileOpener2.provider" android:exported="false" android:grantUriPermissions="true">
  <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/opener_paths"/>
</provider>
</application>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="android.permission.CAMERA" android:required="false"/>
<uses-feature android:name="android.hardware.camera" android:required="false"/>
<uses-feature android:name="android.hardware.camera.front" android:required="false"/>
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.VIBRATE"/>
<permission android:name="${applicationId}.permission.PushHandlerActivity" android:protectionLevel="signature"/>
<permission android:name="${applicationId}.permission.BackgroundHandlerActivity" android:protectionLevel="signature"/>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
<queries>
  <intent>
    <action android:name="android.media.action.IMAGE_CAPTURE"/>
  </intent>
  <intent>
    <action android:name="android.intent.action.GET_CONTENT"/>
  </intent>
  <intent>
    <action android:name="android.intent.action.PICK"/>
  </intent>
  <intent>
    <action android:name="com.android.camera.action.CROP"/>
    <data android:scheme="content" android:mimeType="image/*"/>
  </intent>
</queries>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-feature android:name="android.hardware.location.gps" android:required="true"/>
<uses-permission android:name="android.permission.RECORD_AUDIO"/>
<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<uses-permission android:name="android.permission.RECORD_VIDEO"/>
<uses-permission android:name="android.permission.BLUETOOTH"/>
</manifest>